Contents
Menu
Expand
Light mode
Dark mode
Auto light/dark, in light mode
Auto light/dark, in dark mode
Hide navigation sidebar
Hide table of contents sidebar
Skip to content
Phoenix 6
Getting Started
Requirements
Installing Phoenix 6
Toggle navigation of Installing Phoenix 6
Installing Phoenix 6 (FRC)
Installing Phoenix 6 (non-FRC)
New for 2025
Migration
Phoenix 6 Features
API Migration
Toggle navigation of API Migration
API Structure
Configuration
Status Signals
Control Requests
Closed-Loop Control
Feature Replacements
CAN Bus Utilization
Phoenix Tuner
Phoenix Tuner X
Toggle navigation of Phoenix Tuner X
Connecting Tuner
Device List
Tuner History
Device Details
Tuner Configs
Self Test Snapshot
Controlling Devices
Plotting
Pigeon 2.0 Calibration
Tools
Toggle navigation of Tools
Extracting Signal Logs
CHRP Converter
Swerve Project Generator
Toggle navigation of Swerve Project Generator
Swerve Requirements
Creating your Project
Configuring Modules
Validating the Drivetrain
Generating the Project
What is Licensing
Device Licensing
Season Pass Licensing
Hardware Reference
CANcoder
CANdi™
CANdle®
CANrange
Pigeon 2.0
Toggle navigation of Pigeon 2.0
Pigeon 2 Troubleshooting
Talon FX
Toggle navigation of Talon FX
Improving Performance with Current Limits
Talon FXS
API Reference
General API Usage
Toggle navigation of General API Usage
API Overview
Configuration
Control Requests
Status Signals
Signal Logging
Hoot Replay
Device Faults
Enabling Actuators
Actuator Limits
Orchestra
Device API
Toggle navigation of Device API
TalonFX
Toggle navigation of TalonFX
Introduction to TalonFX Control
Open-Loop Control
Closed-Loop Overview
Basic PID and Profiling
Motion Magic® Controls
TalonFX Remote Sensors
Mechanisms
Toggle navigation of Mechanisms
Swerve Overview
Toggle navigation of Swerve Overview
Swerve Builder API
Swerve Requests
Swerve Simulation
Simulation
Toggle navigation of Simulation
Introduction to Simulation
WPILib Integration
Toggle navigation of WPILib Integration
MotorController Integration
SysId Integration
Toggle navigation of SysId Integration
Plumbing & Running SysId
Unit Testing
Examples
Toggle navigation of Examples
Open-Loop Quickstart
GitHub Examples
CANivore
CANivore Intro
CANivore Setup
CANivore API
Hardware-Attached Simulation
Advanced Configuration
API docs
Java API Docs
C++ API Docs
Python API Docs
C# API Docs
Application Notes
Development Blog
Toggle navigation of Development Blog
Latency and Frequency
Tuner and an evolution in configuration
Factors that Impact Odometry
Tuning CANrange
Support
Troubleshooting
Toggle navigation of Troubleshooting
CAN Bus Troubleshooting
Running the Diagnostic Server
Support
Back to top
View this page
Edit this page
Toggle Light / Dark / Auto color theme
Toggle table of contents sidebar
Requirements
¶
This document explains the requirements to use Phoenix 6.
Supported Devices
¶
Phoenix 6 supports the following devices:
CANcoder
CANdi™
CANdle®
CANrange
Pigeon 2.0
Talon FX (
Falcon 500
,
Kraken X60
,
Kraken X44
)
Talon FXS
CAN Bus Requirements
¶
Phoenix 6 devices are supported on the below CAN bus adapters.
FRC
roboRIO
CANivore
non-FRC
On Linux systems, any SocketCAN capable adapter will work, but the
CANivore
is highly recommended. CANivore offers
additional functionality
over other SocketCAN adapters. On Windows systems, you will need a CANivore to communicate with hardware.
System Requirements
¶
Phoenix 6 supports a plethora of languages and operating systems. The table found below details which languages are supported on what platforms.
FRC
Targets
Supported Languages
Supports
CANivore
Supports
High-Fidelity Simulation
NI roboRIO
Java, C++, Python
Yes
n/a
Windows 10/11 x86-64
Java, C++, Python
Yes
Yes
Linux x86-64 (desktop)
[
1
]
and ARM64
[
2
]
Java, C++, Python
Yes
Yes
macOS
Java, C++, Python
No
Yes
non-FRC
Targets
Supported Languages
Supports
CANivore
Supports
High-Fidelity Simulation
Windows 10/11 x86-64
C#, Python
Yes
Yes (Python only)
Linux x86-64 (desktop)
[
1
]
and ARM64
[
2
]
C++, Python
Yes
Yes (Python only)
Linux ARM32
[
2
]
C++, Python
Yes
No
macOS (Simulation Only)
Python
No
Yes
[
1
]
(
1
,
2
)
Supported Linux x86-64 (desktop) targets:
Ubuntu 22.04 or newer
Debian Bullseye or newer
[
2
]
(
1
,
2
,
3
)
Supported Linux ARM32 and ARM64 targets:
Raspberry Pi
NVIDIA Jetson
Ubuntu 20.04 or newer
Debian Bullseye or newer
On this page
Requirements
Supported Devices
CAN Bus Requirements
System Requirements